#navBar{
    display: flex;
    flex-direction: right;
    width: 500px;
    height: 100vh;
    background-color: #252a32;
}

.container {
    display: flex;
    justify-content: space-between;
    //css tranform
    //instead of hidden it would be off screen
    // how to make a sidebar drawer
}
